{% extends "templates/base.html" %}


{% block content %}
  <div class="row-fluid">
    <div class="span8">
    {{content|safe}}
    </div>
  </div>
  <div class="row-fluid">

    <form action="/cli" method="post" enctype="multipart/form-data">
    <fieldset>
    <legend>CLI Parameters</legend>
    <!-- <label>Label name</label> -->
    <textarea name="params" id="params" rows="3"></textarea>
    <span class="help-block">Parameters to the jasmine-cli.sh script</span>
    <span/>
    <button type="submit" class="btn">Submit</button>
    </fieldset>
    </form>
  </div>
{% endblock %}
